<body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center">
              <h3>Suscripcion</h3>
            </div>
            <div class="card-body">
                <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/3201/3201052.png" alt="Avatar">
              <form #formulario="ngForm">
                <div class="form-group">
                  <label for="username">Usuario:</label>
                  <input type="text" class="form-control" id="username" placeholder="Ingresa tu usuario" name="email" required>
                </div>
                <div class="form-group">
                  <label for="password">Contraseña:</label>
                  <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" name="password"required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-2">Suscribirse Ahora </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>