body {
    font-family: 'Times New Roman', Times, serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #202327;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 30px;
}

.form-control {
    border-radius: 10px;
}

.btn-primary {
    background-color: #202327;
    border: none;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #555555;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 10%;
    margin: 0 auto 20px;
    display: block;
}