<style>
    #orders-table {
      border-collapse: collapse;
      width: 100%;
    }
  
    #orders-table th, #orders-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    #orders-table th {
      background-color: #f0f0f0;
    }
  
    #orders-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
  
  <table id="orders-table">
    <thead>
      <tr>
        <th>Numero de Orden</th>
        <th>Mesa</th>
        <th>Nombre del cliente</th>
        <th>Menu</th>
        <th>Precio</th>
      </tr>
    </thead>
  </table>