<body class="">
    <div class="container mt-3">
      <h2 class="text-center">Datos Ingresados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <!-- <button class="btn btn-success btn-sm" [routerLink]="['/detalles', producto.id]">Detalles</button> -->
                <button class="btn btn-success btn-sm">Editar  </button>
                <button class="btn btn-danger btn-sm">Eliminar</button>
              </td>
            </tr>
            </tbody>
            </table>
            </div>
            </body>